:root {
    --white: #ffffff;
    --black: rgb(0,0,0);
    --primary: #FFB2B2;
    --secundary: #1aa081;
    --gray: #757575;
}

/* Global */

/*----This part allow us to use "rem" in a scale of 1 rem = 10 px ------*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
*, *:before, *:after {
box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
}

.container{
    max-width: 100rem;
    margin: 0 auto;
}

.button{
    background-color: var(--secundary);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .button{
        width: auto;
    }
}


/* Fonts */

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

/* Titles */

.title{
    color: var(--gray);
}

.title span{
    font-size: 1.6rem;
}


/* Navegation bar*/

.nav-bg{
    background-color: var(--secundary);
}

.principal-navegation{
    display:  flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .principal-navegation{
        flex-direction: row;
        justify-content: space-between;
    }
}

.principal-navegation a {
    display: block;
    text-align: center;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}


/* Hero section */

.principal-navegation a:hover {
    background-color: var(--primary);
    color: var(--black);
}

.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
}

.hero-content {
    position: absolute;
    background-color: rgb( 0 0 0 / 60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content h2, .hero-content p {
    color: var(--white);
}

.hero-content .location {
    display: flex;
    align-items: flex-end;
}